<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panorama Stok Takip</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>

<div class="login-box">

    <h1>Panorama Stok Takip</h1>

    <h3>Düğün Salonu Yönetim Sistemi</h3>

    <form>

        <label>Kullanıcı Adı</label>

        <input type="text">

        <label>Şifre</label>

        <input type="password">

        <button>Giriş Yap</button>

    </form>

    <div class="footer">

        Panorama Stok Takip v1.0

    </div>

</div>

</body>
</html>